email=goutham1997krishna@gmail.com
#always-auth=true
#_auth=YWRtaW46cGFzc3cwcmQ=
//registry.npmjs.org/:_auth=YWRtaW46cGFzc3cwcmQ=
allowRepublish=true
//http://44.202.101.142:8081/repository/npm-reg/:_authToken=YWRtaW46cGFzc3cwcmQ=
registry=http:http://44.202.101.142:8081/repository/npm-reg/
