email=goutham1997krishna@gmail.com
#always-auth=true
#_auth=YWRtaW46cGFzc3cwcmQ=
//registry.npmjs.org/:_auth=YWRtaW46cGFzc3cwcmQ=
allowRepublish=true
//3.111.52.199:8081/repository/nodejsrepo/:_authToken=YOUR_AUTH_TOKEN
registry=http://3.111.52.199:8081/repository/nodejsrepo/
